
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.contact-us-NG4 {
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: 2.1rem 0rem 4.7rem 0rem;

  .auto-group-2dq6-9w2 {
    margin: 0rem 10rem 5rem 5.8rem;
    width: calc(100% - 15.8rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .new-logo-colour-1-qhN {
      height: 14.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 31.3rem;
      width: 11.8rem;
    }
    .auto-group-4xfa-Y5z {
      margin-top: 1.9rem;
      width: 85.1rem;
      flex-shrink: 0;

      .group-1000001765-se4 {
        height: 3.5064rem;
        display: flex;
        align-items: center;
        margin: 0rem 0rem 6.994rem 17rem;
        width: calc(100% - 17rem);

        .auto-group-adgp-Nap {
          height: 100%;
          display: flex;
          column-gap: 4.7rem;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.6rem 6.1rem 1.006rem 0rem;

          .home-HBz {
            font-weight: bolder;
            font-weight: 400;
            line-height: 1.1725;
            color: #1e1e1e;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
          .group-1000001736-Hji {
            align-items: center;
            flex-shrink: 0;
            height: 100%;
            display: flex;

            .features-2hJ {

              font-weight: 400;
              line-height: 1.1725;
              color: #1e1e1e;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.3rem;
              font-size: 1.6rem;
            }
            .arrow-1-Xtx {
              margin-top: 0.6448rem;
              width: 0;
              height: 0.1031rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .blog-eya {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #1e1e1e;
            font-family: Roboto, 'Source Sans Pro';
          }
          .shop-bP2 {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #1e1e1e;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .about-jEL {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #1e1e1e;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .contact-SuS {
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
          }
        }
        .auto-group-amzv-zAG {
          position: relative;
          flex-shrink: 0;
          width: 9.8rem;
          height: 100%;

          .group-63-LE8 {
            width: 9rem;
            height: 3.0064rem;
            position: absolute;
            left: 0.8rem;
            top: 0.5rem;

            .el-shopping-cart-rCU {
              height: 2.1658rem;
              position: absolute;
              left: 6.9rem;
              top: 0;
              overflow: hidden;
              width: 2.1rem;

              .bi-cart-fill-BEk {
                overflow: hidden;
                position: relative;
                opacity: 0.75;
                width: 2rem;
                height: 2rem;
              }
            }
            .group-62-W28 {
              height: 2.8001rem;
              left: 0;
              top: 0.2063rem;
              box-sizing: border-box;
              padding-right: 0.2rem;
              width: 8.4rem;
              position: absolute;
              display: flex;
              align-items: flex-start;

              .mask-group-P5v {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 5rem;
                width: 1.6rem;
                height: 1.7532rem;
                position: relative;
              }
              .bi-cart-WAY {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.7212rem;
                width: 1.6rem;
                height: 1.8296rem;
              }
            }
          }
          .ellipse-35-qCp {
            vertical-align: top;
            width: 3.1rem;
            height: 3.1538rem;
            position: absolute;
            left: 6.7rem;
            top: 0;
            object-fit: contain;
          }
          .ellipse-35-yK2 {
            object-fit: contain;
            vertical-align: top;
            width: 3.1rem;
            height: 3.1538rem;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
      .group-1000001764-WZr {
        margin-right: 38.9rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .contact-us-FnL {
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1rem;
          font-size: 4rem;
          font-weight: 700;
        }
        .any-question-or-remarks-just-write-us-a-message-nnG {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5;
          color: #707070;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
      }
    }
  }
  .auto-group-kfqy-tKW {
    margin: 0rem 12.2rem 3.8rem 12.2rem;
    width: calc(100% - 24.4rem);
    height: 70.4996rem;
    position: relative;
    flex-shrink: 0;

    .group-1000001746-QHr {
      top: 0;
      display: flex;
      background-color: #ffffff;
      border-radius: 1rem;
      box-sizing: border-box;
      padding: 1rem 5rem 1rem 1rem;
      width: 119.6rem;
      left: 0;
      height: 66.7rem;
      position: absolute;
      align-items: center;
      box-shadow: 0 0 6rem rgba(0, 0, 0, 0.0299999993);

      .frame-1-tyi {
        padding: 4rem 0rem 0rem 3.9rem;
        height: 100%;
        position: relative;
        background-color: #00033d;
        border-radius: 1rem;
        margin-right: 5rem;
        box-sizing: border-box;
        width: 49.1rem;
        overflow: hidden;
        flex-shrink: 0;

        .contact-information-DWC {
          font-size: 2.8rem;
          font-weight: 600;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.6rem 0.1rem;
        }
        .say-something-to-start-a-live-chat-jUY {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 11.1rem 0.1rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.5;
          color: #c8c8c8;
        }
        .auto-group-vebe-qnU {
          width: 54.1rem;
          height: 50.7rem;
          position: relative;

          .ellipse-793-ydn {
            width: 26.9rem;
            height: 26.9rem;
            position: absolute;
            left: 27.2rem;
            top: 23.8rem;
            background-color: #05084a;
            border-radius: 13.45rem;
          }
          .ellipse-794-HuN {
            width: 13.8rem;
            height: 13.8rem;
            position: absolute;
            left: 24.4rem;
            top: 21.2rem;
            background-color: rgba(0, 8, 85, 0.5099999905);
            border-radius: 6.9rem;
          }
          .group-1000001752-D2L {
            width: 30.4rem;
            height: 26.9rem;
            position: absolute;
            left: 0.1rem;
            top: 0;

            .group-1000001747-vhS {
              box-sizing: border-box;
              padding-left: 0.3rem;
              width: calc(100% - 14rem);
              display: flex;
              align-items: center;
              margin: 0rem 14rem 5rem 0rem;

              .bxs-phone-call-3n4 {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 2.7rem 0.1rem 0rem;
                width: 1.9rem;
                height: 1.9rem;
                position: relative;
                object-fit: contain;
              }
              .xxxxxxxxxxx-N3e {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .group-1000001748-hLp {
              box-sizing: border-box;
              padding-left: 0.2rem;
              width: calc(100% - 10.6rem);
              display: flex;
              align-items: center;
              margin: 0rem 10.6rem 5.1rem 0rem;

              .ic-sharp-email-E5r {
                margin-right: 2.7rem;
                width: 2rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .isavesitvesacin-Zdv {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .auto-group-bjb6-WJG {
              margin-left: 0.375rem;
              width: calc(100% - 0.375rem);
              display: flex;
              align-items: flex-start;

              .carbon-location-filled-evG {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.05rem 2.875rem 0rem 0rem;
                width: 1.65rem;
                height: 2.1rem;
              }
              .vivekanand-education-societies-institute-of-technology-hashu-adwani-memorial-complex-collectors-colony-chembur-mumbai-maharashtra-400074-ySk {
                max-width: 25.5rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
          }
          .group-1000001749-RZe {
            left: 0;
            top: 35.5rem;
            object-fit: contain;
            vertical-align: top;
            width: 3rem;
            height: 3rem;
            position: absolute;
          }
          .group-1000001750-xpU {
            object-fit: contain;
            vertical-align: top;
            width: 3rem;
            height: 3rem;
            position: absolute;
            left: 5.4rem;
            top: 35.5rem;
          }
          .group-1000001751-ty2 {
            top: 35.5rem;
            object-fit: contain;
            vertical-align: top;
            width: 3rem;
            height: 3rem;
            position: absolute;
            left: 10.8rem;
          }
          .clarity-cursor-hand-click-line-2pL {
            width: 2.4rem;
            height: 2.4rem;
            position: absolute;
            left: 6.7rem;
            top: 38.1rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .auto-group-h7br-ihA {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 5rem 0rem 14.2rem 0rem;
        width: 59.5rem;
        height: calc(100% - 19.2rem);

        .auto-group-krts-Dtp {
          width: 100%;
          height: 5.5rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 4.5rem;

          .group-1000001762-ZSt {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 3.9rem;
            height: 100%;

            .first-name-uFr {
              font-weight: 500;
              line-height: 1.6666666667;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              font-size: 1.2rem;
            }
            .vector-8-cvx {
              margin: 0rem 0rem 1.15rem 0.5rem;
              width: 0;
              height: 1.15rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-4-MNk {
              width: 27.8rem;
              height: 0;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .group-1000001761-hBi {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .last-name-rKW {
              margin-bottom: 3.5rem;
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.6666666667;
              color: #00033d;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .vector-5-PaL {
              width: 27.8rem;
              height: 0;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-475n-wLx {
          align-items: flex-start;
          flex-shrink: 0;
          margin-bottom: 2.8rem;
          width: 100%;
          height: 7.2rem;
          display: flex;

          .group-1000001759-5TA {
            margin-right: 3.9rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .email-DpG {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 3.5rem;
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.6666666667;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
            .vector-6-kJQ {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 27.8rem;
              height: 0;
            }
          }
          .group-1000001760-6dA {
            flex-shrink: 0;
            width: 27.8rem;
            height: 100%;
            position: relative;

            .group-1000001763-TCp {
              width: 27.8rem;
              height: 5.5rem;
              position: absolute;
              left: 0;
              top: 0;

              .phone-number-PcG {
                color: #00033d;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
                font-weight: 500;
                line-height: 1.6666666667;
              }
              .item-91-99840923121-KVv {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1rem;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.4285714286;
                color: #00033d;
              }
              .vector-7-3gp {
                object-fit: contain;
                vertical-align: top;
                width: 27.8rem;
                height: 0;
              }
            }
            .clarity-cursor-hand-click-line-17r {
              object-fit: contain;
              vertical-align: top;
              width: 2.4rem;
              height: 2.4rem;
              position: absolute;
              left: 22.7rem;
              top: 4.8rem;
            }
          }
        }
        .group-1000001758-XM6 {
          margin: 0rem 10.7rem 2.537rem 0rem;
          height: 7.463rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-sjkx-TEk {
            margin: 0rem 2rem 2rem 0rem;
            width: 11.5rem;
            flex-shrink: 0;

            .select-subject-o3i {
              margin-bottom: 1.463rem;
              font-size: 1.4rem;
              font-weight: 600;
              line-height: 1.4285714286;
              color: #00033d;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .group-1000001754-w9v {
              align-items: center;
              width: 100%;
              display: flex;

              .teenyicons-tick-circle-solid-VSL {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.139rem 1rem 0rem 0rem;
                width: 1.3rem;
                height: 1.3241rem;
              }
              .general-inquiry-QpC {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.6666666667;
                color: #00033d;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .group-1000001753-9Wt {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 3.463rem 2.5rem 2rem 0rem;
            height: calc(100% - 5.463rem);

            .teenyicons-tick-circle-solid-fk8 {
              margin: 0.139rem 1rem 0rem 0rem;
              width: 1.3rem;
              height: 1.3241rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .return-refund-npk {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.6666666667;
              color: #00033d;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .group-1000001755-vg4 {
            align-items: center;
            flex-shrink: 0;
            margin: 3.463rem 5.6rem 2rem 0rem;
            height: calc(100% - 5.463rem);
            display: flex;

            .teenyicons-tick-circle-solid-s5W {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.139rem 1rem 0rem 0rem;
              width: 1.3rem;
              height: 1.3241rem;
              object-fit: contain;
            }
            .shipping-zfv {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.6666666667;
              color: #00033d;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .group-1000001756-Xvk {
            margin-top: 3.463rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .teenyicons-tick-circle-solid-gYk {
              height: 1.3241rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.407rem 1rem 0rem 0rem;
              width: 1.3rem;
            }
            .customer-service-z3e {
              flex-shrink: 0;
              max-width: 6rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.6666666667;
              color: #00033d;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
        }
        .group-1000001757-Ja8 {
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 4.5rem;
          width: 100%;
          display: flex;

          .message-rbe {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5455rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.6666666667;
            color: #000000;
          }
          .write-your-message-C9i {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.0545rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.4285714286;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
          }
          .vector-9-XSt {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 59.5rem;
            height: 0;
          }
        }
        .frame-2-4hi {
          color: #ffffff;
          white-space: nowrap;
          justify-content: center;
          background-color: #00033d;
          font-weight: 500;
          line-height: 1.5;
          flex-shrink: 0;
          box-shadow: 0 0 1.4rem rgba(0, 0, 0, 0.1199999973);
          font-size: 1.6rem;
          display: flex;
          text-align: center;
          font-family: Poppins, 'Source Sans Pro';
          align-items: center;
          border-radius: 0.5rem;
          width: 21.4rem;
          height: 5.4rem;
        }
      }
    }
    .lettersend-1-H4g {
      position: relative;
      left: 79.7868rem;
      top: 48.8rem;
      background-size: 114.182% 100.322%;
      background-position: -3.5849rem -0.035rem;
      background-image: url('REPLACE_IMAGE:5e52eb20ee9158ca0835b430d0b6ef56e2d7385e');
      width: 26.4779rem;
      height: 21.6996rem;
    }
  }
  .footer-YFW {
    flex-shrink: 0;
    margin: 0rem 0.8rem 7.6rem 0rem;
    padding: 2.5rem 0.5rem 1.051rem 8rem;
    width: calc(100% - 0.8rem);
    height: 45.3rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    background-color: #ffffff;

    .auto-group-wt5v-SLt {
      position: relative;
      flex-shrink: 0;
      margin-right: 1.402rem;
      width: 130.698rem;
      height: 100%;

      .group-1000001772-ybi {
        position: absolute;
        left: 0;
        top: 3.8363rem;
        display: flex;
        width: 128.05rem;
        height: 37.9127rem;
        align-items: flex-end;
        flex-direction: column;
        box-sizing: border-box;
        padding-top: 9.6463rem;

        .vector-10-HsJ {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.7969rem;
          width: 128.05rem;
          height: 0;
        }
        .auto-group-kegc-SEQ {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin-right: 0.05rem;

          .group-1000001767-n3N {
            width: 30.4rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 1.04rem 7.5rem 0rem 0rem;

            .auto-group-ecuk-JnQ {
              box-sizing: border-box;
              padding-bottom: 2.1395rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .reach-us-T9W {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7503rem;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.4444444444;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
              }
              .group-1000001747-PYx {
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 14.7rem 2.139rem 0rem;
                box-sizing: border-box;
                padding-left: 0.3rem;
                width: calc(100% - 14.7rem);
                display: flex;

                .bxs-phone-call-Wda {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 2.7rem 0.225rem 0rem;
                  width: 1.9rem;
                  height: 1.7969rem;
                  position: relative;
                }
                .item-1012-3456-789-EJg {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #070034;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                }
              }
              .group-1000001748-9gY {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 10.6rem;
                box-sizing: border-box;
                padding-left: 0.2rem;
                width: calc(100% - 10.6rem);

                .ic-sharp-email-65z {
                  margin: 0rem 2.7rem 0.13rem 0rem;
                  width: 2rem;
                  height: 1.5132rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .demogmailcom-1ye {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #070034;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                }
              }
            }
            .group-1000001753-ZEU {
              align-items: flex-start;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-left: 0.375rem;
              width: 100%;
              display: flex;

              .carbon-location-filled-up8 {
                height: 1.986rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.142rem 2.875rem 0rem 0rem;
                width: 1.65rem;
              }
              .dartmouth-street-boston-massachusetts-02156-united-states-bwr {
                max-width: 25.5rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
          }
          .group-1000001771-hjz {
            align-items: flex-start;
            flex-shrink: 0;
            margin: 1.04rem 9.6rem 0rem 0rem;
            height: 20.3687rem;
            display: flex;
            column-gap: 6rem;

            .group-1000001768-2XN {
              flex-direction: column;
              flex-shrink: 0;
              display: flex;

              .company-mjr {
                flex-shrink: 0;
                margin-bottom: 1.7503rem;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.4444444444;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .about-htQ {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.1395rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
              }
              .contact-eYk {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.1395rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
              }
              .blogs-nur {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .group-1000001769-Y8L {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .legal-Hrc {
                flex-shrink: 0;
                margin-bottom: 1.7503rem;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.4444444444;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .privacy-policy-q7S {
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.1395rem;
                font-size: 1.6rem;
              }
              .terms-services-m16 {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.1395rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
              }
              .terms-of-use-6p4 {
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.1395rem;
                font-size: 1.6rem;
                font-weight: 400;
              }
              .refund-policy-eag {
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .group-1000001770-oCg {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .quick-links-Yvx {
                line-height: 1.4444444444;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7503rem;
                font-size: 1.8rem;
                font-weight: 600;
              }
              .techlabz-keybox-VbJ {
                flex-shrink: 0;
                margin-bottom: 2.1395rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .downloads-Rzk {
                margin-bottom: 2.1395rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .forum-Nf6 {
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
              }
            }
          }
          .auto-group-hl3e-iU4 {
            box-sizing: border-box;
            padding: 1.324rem 1.2rem 1.791rem 1.4rem;
            width: 30.4rem;
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;

            .join-our-newsletter-ESQ {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 2.6015rem;
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.4444444444;
              color: #070034;
            }
            .auto-group-uejp-ZzU {
              margin: 0rem 0.1rem 1.797rem 0rem;
              padding-left: 1rem;
              width: calc(100% - 0.1rem);
              display: flex;
              align-items: center;
              background-color: #ffffff;
              box-sizing: border-box;
              height: 3.6883rem;
              border-radius: 0.4rem;

              .your-email-address-5hv {
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.281rem 5.5rem 0rem 0rem;
                font-size: 1.1rem;
                font-weight: 400;
              }
              .auto-group-kpnc-15n {
                width: 10.5rem;
                height: 100%;
                font-size: 1.2rem;
                font-weight: 500;
                display: flex;
                align-items: center;
                background-position: center;
                color: #070034;
                white-space: nowrap;
                justify-content: center;
                font-family: Poppins, 'Source Sans Pro';
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url('REPLACE_IMAGE:I1:154;6:1305');
                flex-shrink: 0;
                line-height: 1.5;
              }
            }
            .will-send-you-weekly-updates-for-your-better-tool-management-4Zr {
              font-weight: 500;
              line-height: 1.365;
              color: #070034;
              font-family: Manrope, 'Source Sans Pro';
              max-width: 27.8rem;
              font-size: 1.3rem;

              .will-send-you-weekly-updates-for-your-better-tool-management-4Zr-sub-0 {
              }
              .will-send-you-weekly-updates-for-your-better-tool-management-4Zr-sub-1 {
                font-size: 1.3rem;
                font-weight: 500;
                line-height: 1.365;
                color: #000000;
                font-family: Manrope, 'Source Sans Pro';
              }
            }
          }
        }
      }
      .vector-nXn {
        left: 103.3rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 3.4rem;
        height: 3.9987rem;
        position: absolute;
      }
      .vector-K1v {
        width: 3.4rem;
        height: 3.6559rem;
        position: absolute;
        left: 108.1rem;
        top: 0.4rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-3Ti {
        top: 0.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.4rem;
        height: 3.6559rem;
        position: absolute;
        left: 112.9rem;
      }
      .vector-ysA {
        object-fit: contain;
        vertical-align: top;
        width: 3.4rem;
        height: 3.9987rem;
        position: absolute;
        left: 117.7rem;
        top: 0.2rem;
      }
      .vector-7iU {
        width: 3.4rem;
        height: 3.9987rem;
        position: absolute;
        left: 122.5rem;
        top: 0.2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .social-icons-3c8 {
        vertical-align: top;
        width: 3.398rem;
        height: 3.3993rem;
        position: absolute;
        left: 127.3rem;
        top: 0.5rem;
        object-fit: contain;
      }
    }
    .vector-mo2 {
      margin-top: 0.5rem;
      width: 3.4rem;
      height: 3.6559rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .logo-5Hv {
    margin-right: 1.6rem;
    width: 54rem;
    height: 8.9rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
}
