
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-kYc {
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2.5rem 0rem 4rem 0rem;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-rvcp-GG4 {
    margin: 0rem 2.4rem 12.5rem 10.8rem;
    width: calc(100% - 13.2rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .new-logo-colour-1-Btp {
      margin: 0.6rem 50.9rem 0rem 0rem;
      width: 11.8rem;
      height: 14.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .group-1000001765-u48 {
      height: 4.8678rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-ody8-e1i {
        column-gap: 4.7rem;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.6rem 6.1rem 0.6rem 0rem;
        height: 100%;
        display: flex;

        .home-YMz {
          line-height: 1.1725;
          color: #1e1e1e;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .group-1000001736-fhW {
          margin-bottom: 1.7678rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .features-2HA {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #1e1e1e;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.3rem;
          }
          .arrow-1-xAp {
            margin-top: 0.6448rem;
            width: 0;
            height: 0.1031rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .blog-Hyn {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #1e1e1e;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .shop-Ee8 {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #1e1e1e;
        }
        .about-BpG {
          line-height: 1.1725;
          color: #1e1e1e;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .contact-jat {
          font-weight: 600;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
        }
      }
      .auto-group-mkey-UYU {
        position: relative;
        flex-shrink: 0;
        width: 9.8rem;
        height: 100%;

        .group-63-dRN {
          top: 0.5rem;
          width: 9rem;
          height: 4.3678rem;
          position: absolute;
          left: 0.8rem;

          .el-shopping-cart-mXa {
            width: 2.1rem;
            height: 2.1658rem;
            position: absolute;
            left: 6.9rem;
            top: 0;
            overflow: hidden;

            .bi-cart-fill-uNt {
              opacity: 0.75;
              width: 2rem;
              height: 2rem;
              overflow: hidden;
              position: relative;
            }
          }
          .group-62-2yJ {
            padding-right: 0.2rem;
            width: 8.4rem;
            height: 4.1615rem;
            left: 0;
            align-items: flex-start;
            box-sizing: border-box;
            position: absolute;
            top: 0.2063rem;
            display: flex;

            .mask-group-Lj6 {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 5rem;
              width: 1.6rem;
              height: 1.7532rem;
              position: relative;
              object-fit: contain;
            }
            .bi-cart-gHA {
              margin-top: 1.5173rem;
              width: 1.6rem;
              height: 2.3272rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .ellipse-35-Qyr {
          vertical-align: top;
          width: 3.1rem;
          height: 3.1538rem;
          position: absolute;
          left: 6.7rem;
          top: 0;
          object-fit: contain;
        }
        .ellipse-35-MeC {
          width: 3.1rem;
          height: 3.1538rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
  .auto-group-di7w-J3e {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 5.5rem;
    box-sizing: border-box;
    padding-top: 2.1rem;

    .content-ET6 {
      flex-shrink: 0;
      margin: 0rem 47.4rem 4.6rem 56.1rem;
      width: calc(100% - 103.5rem);
      row-gap: 1.6rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .tutti-headphones-and-bubble-with-information-icon-for-support-1-1-MGp {
        margin-left: 0.1rem;
        width: 26.4rem;
        height: 25.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .image-emi {
        padding: 1.1rem 0rem 4.1rem 0rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;

        .oops-component-is-not-available-at-the-moment-nN8 {
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          font-size: 1.7rem;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          display: flex;
        }
        .we-will-notify-you-once-the-component-is-back-in-stock-gCc {
          color: #a1a1a1;
          align-items: center;
          justify-content: center;
          font-size: 1.3rem;
          font-weight: 500;
          line-height: 1.2125;
          margin-left: 0.1rem;
          max-width: 17.4rem;
          display: flex;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .button-weL {
        line-height: 1.2125;
        white-space: nowrap;
        display: flex;
        box-sizing: border-box;
        flex-shrink: 0;
        margin: 0rem 3.8rem 0rem 3.9rem;
        width: calc(100% - 7.7rem);
        height: 5rem;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        text-transform: uppercase;
        color: #171717;
        justify-content: center;
        border: solid 0.1rem #171717;
      }
    }
    .footer-zsW {
      box-sizing: border-box;
      padding: 6.7rem 7.95rem 1.8rem 8rem;
      width: 100%;
      height: 47.9rem;
      background-color: #ffffff;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;

      .group-1000001772-LAg {
        padding-top: 10.2rem;
        width: 100%;
        height: 100%;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        .vector-10-sAc {
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          width: 128.05rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .auto-group-hvda-QRS {
          margin-right: 0.05rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .group-1000001767-wwA {
            flex-shrink: 0;
            margin: 1.1rem 7.5rem 0rem 0rem;
            width: 30.4rem;
            align-items: center;
            display: flex;
            flex-direction: column;

            .auto-group-dvpq-GyS {
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-bottom: 2.4rem;
              width: 100%;
              display: flex;

              .reach-us-pVA {
                flex-shrink: 0;
                margin-bottom: 2rem;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.4444444444;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .group-1000001747-9nL {
                width: calc(100% - 14.7rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 14.7rem 2.4rem 0rem;
                box-sizing: border-box;
                padding-left: 0.3rem;

                .bxs-phone-call-U3v {
                  margin: 0rem 2.7rem 0.1rem 0rem;
                  width: 1.9rem;
                  height: 1.9rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .item-1012-3456-789-b8Y {
                  line-height: 1.5;
                  color: #070034;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                }
              }
              .group-1000001748-WFW {
                box-sizing: border-box;
                padding-left: 0.2rem;
                width: calc(100% - 10.6rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 10.6rem;

                .ic-sharp-email-3WL {
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 2.7rem;
                  width: 2rem;
                }
                .demogmailcom-P4Q {
                  line-height: 1.5;
                  color: #070034;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                }
              }
            }
            .group-1000001753-7WC {
              align-items: flex-start;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-left: 0.375rem;
              width: 100%;
              display: flex;

              .carbon-location-filled-GP6 {
                height: 2.1rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.15rem 2.875rem 0rem 0rem;
                width: 1.65rem;
              }
              .dartmouth-street-boston-massachusetts-02156-united-states-nMS {
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 25.5rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
              }
            }
          }
          .group-1000001771-tQU {
            height: 21.4rem;
            display: flex;
            column-gap: 6rem;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 1.1rem 9.6rem 0rem 0rem;

            .group-1000001768-Qtc {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .company-ZmW {
                line-height: 1.4444444444;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2rem;
                font-size: 1.8rem;
                font-weight: 600;
              }
              .about-uaU {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.4rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
              }
              .contact-enx {
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.4rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
              }
              .blogs-CZa {
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
              }
            }
            .group-1000001769-X64 {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .legal-Fnk {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2rem;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.4444444444;
                color: #070034;
              }
              .privacy-policy-BwJ {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.4rem;
              }
              .terms-services-85r {
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.4rem;
                font-size: 1.6rem;
                font-weight: 400;
              }
              .terms-of-use-fLg {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.4rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
              }
              .refund-policy-CrQ {
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
              }
            }
            .group-1000001770-Lxc {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .quick-links-hYG {
                flex-shrink: 0;
                margin-bottom: 2rem;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.4444444444;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .techlabz-keybox-F3z {
                margin-bottom: 2.4rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .downloads-BiL {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.4rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
              }
              .forum-KpY {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-vo2u-4n8 {
            padding: 1.4rem 1.2rem 2.1rem 1.4rem;
            width: 30.4rem;
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .join-our-newsletter-zQt {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 2.9rem;
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.4444444444;
              color: #070034;
            }
            .auto-group-1jzp-vpL {
              box-sizing: border-box;
              width: calc(100% - 0.1rem);
              height: 3.9rem;
              display: flex;
              align-items: center;
              background-color: #ffffff;
              margin: 0rem 0.1rem 1.9rem 0rem;
              border-radius: 0.4rem;
              padding-left: 1rem;

              .your-email-address-qgQ {
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.2rem 5.5rem 0rem 0rem;
                font-size: 1.1rem;
              }
              .auto-group-kffa-MPr {
                line-height: 1.5;
                color: #070034;
                white-space: nowrap;
                justify-content: center;
                background-size: cover;
                font-weight: 500;
                font-family: Poppins, 'Source Sans Pro';
                background-repeat: no-repeat;
                height: 100%;
                font-size: 1.2rem;
                align-items: center;
                width: 10.5rem;
                display: flex;
                background-position: center;
                background-image: url('REPLACE_IMAGE:I40:109;6:1305');
                flex-shrink: 0;
              }
            }
            .will-send-you-weekly-updates-for-your-better-tool-management-cqa {
              max-width: 27.8rem;
              font-size: 1.3rem;
              font-weight: 500;
              line-height: 1.365;
              color: #070034;
              font-family: Manrope, 'Source Sans Pro';

              .will-send-you-weekly-updates-for-your-better-tool-management-cqa-sub-0 {
              }
              .will-send-you-weekly-updates-for-your-better-tool-management-cqa-sub-1 {
                color: #000000;
                font-family: Manrope, 'Source Sans Pro';
                font-size: 1.3rem;
                font-weight: 500;
                line-height: 1.365;
              }
            }
          }
        }
      }
    }
  }
  .logo-F1N {
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin-left: 12.4rem;
    width: 54rem;
    height: 8.9rem;
  }
}
