
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-bXa {
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 2.5rem 0rem 4rem 0rem;
  align-items: center;
  display: flex;

  .auto-group-pvq4-6DS {
    margin: 0rem 2.4rem 12.5rem 10.8rem;
    width: calc(100% - 13.2rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .new-logo-colour-1-cBn {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.6rem 50.9rem 0rem 0rem;
      width: 11.8rem;
      height: 14.2rem;
    }
    .group-1000001765-iVi {
      flex-shrink: 0;
      height: 4.8678rem;
      display: flex;
      align-items: center;

      .auto-group-kcw6-4Za {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.6rem 6.1rem 0.6rem 0rem;
        height: 100%;
        display: flex;
        column-gap: 4.7rem;
        align-items: flex-start;

        .home-a28 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #1e1e1e;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .group-1000001736-Hx8 {
          flex-shrink: 0;
          margin-bottom: 1.7678rem;
          display: flex;
          align-items: center;

          .features-F8G {
            margin-right: 1.3rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #1e1e1e;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .arrow-1-Am2 {
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.6448rem;
            width: 0;
            height: 0.1031rem;
            object-fit: contain;
          }
        }
        .blog-uTi {
          font-weight: 400;
          line-height: 1.1725;
          color: #1e1e1e;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
        }
        .shop-egC {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #1e1e1e;
        }
        .about-QQU {
          line-height: 1.1725;
          color: #1e1e1e;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .contact-YWg {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.1725;
        }
      }
      .auto-group-2y7s-VB2 {
        width: 9.8rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .group-63-S6G {
          top: 0.5rem;
          width: 9rem;
          height: 4.3678rem;
          position: absolute;
          left: 0.8rem;

          .el-shopping-cart-y6C {
            width: 2.1rem;
            height: 2.1658rem;
            position: absolute;
            left: 6.9rem;
            top: 0;
            overflow: hidden;

            .bi-cart-fill-hnt {
              opacity: 0.75;
              width: 2rem;
              height: 2rem;
              overflow: hidden;
              position: relative;
            }
          }
          .group-62-eTE {
            top: 0.2063rem;
            display: flex;
            align-items: flex-start;
            height: 4.1615rem;
            position: absolute;
            left: 0;
            box-sizing: border-box;
            padding-right: 0.2rem;
            width: 8.4rem;

            .mask-group-AAg {
              width: 1.6rem;
              height: 1.7532rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 5rem;
            }
            .bi-cart-JGt {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 1.5173rem;
              width: 1.6rem;
              height: 2.3272rem;
            }
          }
        }
        .ellipse-35-EgL {
          height: 3.1538rem;
          position: absolute;
          left: 6.7rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 3.1rem;
        }
        .ellipse-35-yP2 {
          height: 3.1538rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 3.1rem;
        }
      }
    }
  }
  .auto-group-z8y4-unU {
    width: calc(100% - 0.4rem);
    height: 99.8rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 0.4rem 6.3rem 0rem;

    .content-37z {
      position: absolute;
      left: 56.6rem;
      top: 30.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 36rem;
      height: 19rem;

      .image-AyJ {
        box-sizing: border-box;
        padding: 2.1rem 9.1rem 2.3rem 9.1rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 1.6rem;

        .congratulations-66G {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.7rem;
          white-space: nowrap;
          margin: 0rem 0.1rem 0.7rem 0rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .your-order-has-been-placed-you-will-get-an-email-from-us-soon--Abv {
          max-width: 17.8rem;
          align-items: center;
          justify-content: center;
          color: #a1a1a1;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          font-size: 1.3rem;
          font-weight: 500;
          line-height: 1.2125;
        }
      }
      .checkout-order-status-T5E {
        align-items: center;
        background-color: #fcfcfc;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.8rem 2.4rem 0.8rem 1.6rem;
        width: 100%;
        height: 5.4rem;
        display: flex;

        .order-id-123456789-m5v {
          display: flex;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.3rem;
          justify-content: center;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
          align-items: center;
        }
        .right-gCt {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .button-SSx {
            color: #000000;
            border-radius: 0.4rem;
            margin-right: 0.859rem;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            width: 13.2rem;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            height: 100%;
            line-height: 1.2125;
            text-transform: uppercase;
            white-space: nowrap;
            display: flex;
            font-size: 1.5rem;
          }
          .chevronright24px-KFr {
            width: 0.741rem;
            height: 1.2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
    .footer-e3E {
      width: 144rem;
      position: absolute;
      top: 51.9rem;
      background-color: #ffffff;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      height: 47.9rem;
      left: 0;
      padding: 6.7rem 7.95rem 1.8rem 8rem;

      .group-1000001772-MiL {
        width: 100%;
        height: 100%;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-top: 10.2rem;

        .vector-10-JNg {
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          width: 128.05rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .auto-group-scwe-SUt {
          align-items: flex-start;
          flex-shrink: 0;
          margin-right: 0.05rem;
          display: flex;

          .group-1000001767-PQ8 {
            margin: 1.1rem 7.5rem 0rem 0rem;
            width: 30.4rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-wmwu-75E {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-bottom: 2.4rem;
              width: 100%;

              .reach-us-eqr {
                margin-bottom: 2rem;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.4444444444;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .group-1000001747-yNL {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 14.7rem 2.4rem 0rem;
                box-sizing: border-box;
                padding-left: 0.3rem;
                width: calc(100% - 14.7rem);

                .bxs-phone-call-h3S {
                  width: 1.9rem;
                  height: 1.9rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 2.7rem 0.1rem 0rem;
                }
                .item-1012-3456-789-p84 {
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #070034;
                }
              }
              .group-1000001748-9AL {
                margin-right: 10.6rem;
                box-sizing: border-box;
                padding-left: 0.2rem;
                width: calc(100% - 10.6rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .ic-sharp-email-UTW {
                  margin-right: 2.7rem;
                  width: 2rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .demogmailcom-1yE {
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #070034;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
            .group-1000001753-9pY {
              box-sizing: border-box;
              padding-left: 0.375rem;
              width: 100%;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .carbon-location-filled-VdW {
                height: 2.1rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.15rem 2.875rem 0rem 0rem;
                width: 1.65rem;
              }
              .dartmouth-street-boston-massachusetts-02156-united-states-p9z {
                max-width: 25.5rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
          }
          .group-1000001771-imA {
            margin: 1.1rem 9.6rem 0rem 0rem;
            height: 21.4rem;
            display: flex;
            column-gap: 6rem;
            align-items: flex-start;
            flex-shrink: 0;

            .group-1000001768-EzQ {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .company-zTn {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2rem;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.4444444444;
                color: #070034;
              }
              .about-jAU {
                flex-shrink: 0;
                margin-bottom: 2.4rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .contact-eoE {
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.4rem;
                font-size: 1.6rem;
              }
              .blogs-Pkp {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
              }
            }
            .group-1000001769-Lg4 {
              flex-direction: column;
              flex-shrink: 0;
              height: 100%;
              display: flex;

              .legal-5tY {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2rem;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.4444444444;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
              }
              .privacy-policy-RhW {
                margin-bottom: 2.4rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .terms-services-AQC {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.4rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
              }
              .terms-of-use-h9E {
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.4rem;
                font-size: 1.6rem;
              }
              .refund-policy-EQ4 {
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
              }
            }
            .group-1000001770-ycY {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .quick-links-LT6 {
                font-weight: 600;
                line-height: 1.4444444444;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2rem;
                font-size: 1.8rem;
              }
              .techlabz-keybox-shv {
                flex-shrink: 0;
                margin-bottom: 2.4rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .downloads-cvQ {
                margin-bottom: 2.4rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .forum-kWp {
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #070034;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .auto-group-e5el-6Kn {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.4rem 1.2rem 2.1rem 1.4rem;
            width: 30.4rem;
            background-color: #ffffff;
            border-radius: 1rem;

            .join-our-newsletter-2DS {
              font-weight: 600;
              line-height: 1.4444444444;
              color: #070034;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 2.9rem;
              font-size: 1.8rem;
            }
            .auto-group-vzcc-ZDN {
              box-sizing: border-box;
              padding-left: 1rem;
              width: calc(100% - 0.1rem);
              align-items: center;
              background-color: #ffffff;
              border-radius: 0.4rem;
              margin: 0rem 0.1rem 1.9rem 0rem;
              height: 3.9rem;
              display: flex;

              .your-email-address-UbE {
                font-size: 1.1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.2rem 5.5rem 0rem 0rem;
              }
              .auto-group-1wxs-15N {
                justify-content: center;
                background-position: center;
                line-height: 1.5;
                color: #070034;
                flex-shrink: 0;
                display: flex;
                background-size: cover;
                width: 10.5rem;
                height: 100%;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                background-image: url('REPLACE_IMAGE:I38:215;6:1305');
                font-size: 1.2rem;
                font-weight: 500;
                align-items: center;
                background-repeat: no-repeat;
              }
            }
            .will-send-you-weekly-updates-for-your-better-tool-management-sdN {
              max-width: 27.8rem;
              font-size: 1.3rem;
              font-weight: 500;
              line-height: 1.365;
              color: #070034;
              font-family: Manrope, 'Source Sans Pro';

              .will-send-you-weekly-updates-for-your-better-tool-management-sdN-sub-0 {
              }
              .will-send-you-weekly-updates-for-your-better-tool-management-sdN-sub-1 {
                font-size: 1.3rem;
                font-weight: 500;
                line-height: 1.365;
                color: #000000;
                font-family: Manrope, 'Source Sans Pro';
              }
            }
          }
        }
      }
    }
    .image-76-Uma {
      position: absolute;
      left: 65.9rem;
      top: 6.2rem;
      object-fit: cover;
      vertical-align: top;
      width: 18.9rem;
      height: 20.9rem;
    }
    .frame-3-oJ4 {
      left: 89.9rem;
      top: 51.3rem;
      overflow: hidden;
      width: 10rem;
      height: 10rem;
      position: absolute;
    }
  }
  .logo-8bE {
    height: 8.9rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin-left: 12.4rem;
    width: 54rem;
  }
}
